
    html, body {
        height: 100%;
        margin: 0;

    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;
    }

    .content {
        flex: 1;
        padding-top: 70px; 
    }

    .footer {
        background-color: #343a40;
        color: white;
        padding: 1rem 0;
        width: 100%;
        bottom: 0;
    }

